CONFIG_VENDOR=XIAOMI-U-Boot
CONFIG_PRODUCT=MT7628
CONFIG_FIRMWARE_PRODUCT_ID="MI-4C"
CONFIG_FIRMWARE_CPU_SLEEP=y
CONFIG_FIRMWARE_WIFI2_DRIVER=4.0
CONFIG_FIRMWARE_ENABLE_IPV6=y
CONFIG_FIRMWARE_INCLUDE_IPSET=y
CONFIG_FIRMWARE_INCLUDE_LANG_RU=y
CONFIG_FIRMWARE_INCLUDE_EAP_PEAP=y
CONFIG_FIRMWARE_INCLUDE_OPENVPN=y
CONFIG_FIRMWARE_INCLUDE_OPENSSL_EC=y
CONFIG_FIRMWARE_INCLUDE_ZRAM=y
CONFIG_FIRMWARE_INCLUDE_LUA=y
CONFIG_FIRMWARE_INCLUDE_EOIP=y
